
body{
    background-image: url("../images/credit.jpg");
 background-size: cover;
 text-align: center;
}
input{
size: 100px;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
h2{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-shadow: blue;
    color: rgb(17, 15, 15);
    font-style: oblique;
}
div{
    text-align: center;
    margin-top: 250px;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 10px;
    margin-bottom: 60px;
    background-color:white;
    box-sizing: border-box;
    border: blue;
    opacity:95%;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    transition: 1s ease-in-out;
}
div:hover{
    background-color: rgb(155, 207, 207);
   transform: scale(1.5);
}
button{
    background-color: rgb(231, 231, 236);
    box-sizing: border-box;
    border: blue;
    opacity:95%;
    box-shadow: -10px 10px 10px rgba(207, 189, 189, 0.3);
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:rgb(14, 12, 12);
    padding: 10px;
    transition: 1s ease-in-out;
    float: left;
}
button:hover{
    background-color: rgb(155, 207, 207);
    transform: scale(1.1);
}
