body{
    background-color: black;
}
div{
    background-color:rgb(130, 153, 230);
  margin: 50px 400px 100px 400px;
  padding: 30px;
  text-align: center;
  border-radius: 9px;
  transition: 1s ease-in;
  box-shadow: -10px 10px 10px rgb(164, 175, 170);

}
div:hover{
transform: scale(1.2);
background-color: darkcyan;
color: rgba(0, 0, 0, 0.438);
}
input{
    font-size: 30px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    
    margin: 10px;
    padding: 10px;
}

button{
margin: 10px;
padding: 10px;
    background-color: rgb(117, 202, 202);
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 20px;
    
border-radius: 10px;
text-transform: capitalize;
  }
  h1{
      color: darkgray;
      text-align: center;
      font-size: 45px;
      text-transform: capitalize;
  }