h1{
    text-transform: uppercase;
    background-image:-webkit-linear-gradient(red,yellow);
    text-align: center;
    color:black;
    font-size: 30px;
}
h2{
    text-transform: capitalize;
    color:white;
    text-align: center;
    font-size: 35px;
    margin:10px 30px 50px;
}
button{
    text-transform: capitalize;
    text-decoration: solid;
    background-color:rgb(77, 84, 143);
    margin:10px 130px 40px;
    padding: 17px;
    width:23%;
    font-size: 27px;
    border-radius: 10px;
    float: left;


}
button:hover{
    font-size:35px ;
    background-color: rgb(7, 224, 231);
    }


#b1{
    display: inline-block;
    float: left;
}

#b2{
    display: inline-block;
    float: right;
}

#b3{
    display: inline-block;
    float: left;
}
#b4{
    display: inline-block;
    float: right;
}
#b5{
    display: inline-block;
    float: left;

}
#b6{
    display: inline-block;
    float: right;
}
div{
    text-align: center;

}
#b7{
    width: 10%;
    display: inline-block;
    float: right;
}
#b8{
    width: 10%;
    display: inline-block;
    float: left;
}
body{
    background-color: black;
}
