
button{

    background-color: white;
    box-sizing: border-box;
    border: blue;
    opacity:95%;

    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:rgb(22, 19, 19);
    padding: 10px;
    box-shadow: 0 0 10px black;
    margin-top: 20px;

}
form button{
    background-image: url("/static/images/default_profile.jpg");
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;

}
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

form{

    width: 200px;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto;
display: block;
}
div{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    max-width: 350px;
    box-shadow: 0 0 10px black;
    padding: 20px;
margin: 10px auto 10px auto;
    background-color: withe;
}
body{
    text-align: center;
    background: lightblue;
}
