.profile{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    max-width: 450px;
    box-shadow: 0 0 10px black;
    padding: 20px;
    margin: 10px auto 10px auto;
    background-color: withe;
}
.img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
display: block;
}
.content{
    font-size: 25px;
    font-weight: bold;
    display: block;
    align-items: left;
    justify-content:left;
}
body{
    text-align: center;
    background: lightblue;
}
button{
        background-color: white;
        box-sizing: border-box;
        border: blue;
        opacity:95%;

        border-radius: 2px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        color:rgb(22, 19, 19);
        padding: 10px;
        box-shadow: 0 0 10px black;
}
