
p{
    text-align: center;
color: white;
font-weight: bold;
font-size: 35px;
}
body{
    background-color: black;
    background-size: cover;

}
button{

        background-color: white;
        box-sizing: border-box;
        border: blue;
        opacity:95%;

        border-radius: 2px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        color:rgb(22, 19, 19);
        padding: 10px;
        box-shadow: 0 0 10px white;


}
img:hover{
    transform: scale(1.1);
}
