
img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    max:10px;
display:block;
box-shadow: 0 0 10px white;
transition:  1s ease-in-out;
text-align: left;
   
}
p{
    text-align: right;
color: white;
font-weight: bold;
font-size: 35px;
}
body{
    background-color: black;
    background-size: cover;

}
button{

        background-color: white;
        box-sizing: border-box;
        border: blue;
        opacity:95%;
        
        border-radius: 2px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        color:rgb(22, 19, 19);
        padding: 10px;
        box-shadow: 0 0 10px white;
        

}
img:hover{
    transform: scale(1.1);
}
