<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><h1>fast withdraw</h1>
    <div class="container">
        <h2>select amount</h2>
        <form action="">
            <button type="submit">0</button>
        </form>
        <form action="">
            <button type="submit">10</button>
        </form>
        <form action="">
            <button type="submit">20</button>
        </form>
        <form action="">
            <button type="submit">30</button>
        </form>
        <form action="">
            <button type="submit">40</button>
        </form>
        <form action="">
            <button type="submit">50</button>
        </form>
        <a href=""><button type="submit">back</button></a>
    </div>
    
</body>
</html>