<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method='post' action='fastAmount'>
      {% csrf_token %}
        <button type='submit' name='submit' value='500'>500</button>
        <button type='submit' name='submit' value='1000'>1000</button>
        <button type='submit' name='submit' value='1500'>1500</button>
        <button type='submit' name='submit' value='2000'>2000</button>
        <button type='submit' name='submit' value='3000'>3000</button>
        <button type='submit' name='submit' value='4000'>3000</button>
  </form>
  <a href="{% url 'Atm_app:options'%}" ><button>Back</button></a>
  {% for message in messages %}
    <h1>{{ message }}<h2>
    {% endfor %}
  </body>
</html>
