<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Transaction Summary</h1>
<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Time</th>
    <th>Amount</th>
    <th>Balance</th>
  </tr>
{% for row in hist%}
  <tr>
    <td>{{row.0}}</td>
    <td>{{row.1}}</td>
    <td>{{row.2}}</td>
    <td>{{row.3}}</td>
    <td>{{row.4}}</td>
  </tr>
{%endfor%}
</table>
<a href="{% url 'Atm_app:options'%}" ><button>Back</button></a>
  </body>
</html>
