<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/options.css' %}">
    <title>atm</title>
    <h1>ATM</h1>
</head>
<body>

    <div class="container">
        <h2>select a transaction</h2>
            <a  href="#" ><button id="b1">fast cash</button></a>


            <a  href="#" ><button id="b2">cash withdraw</button></a>
        <a  href="{% url 'check_balance' %}" ><button id="b3">balance enquiry</button></a>
        <a  href="#" ><button id="b4">deposit</button></a>

        <a  href="#" ><button id="b5">transaction details</button></a>
        <a  href="#" ><button id="b6">pin change</button></a>
        <div id="exit">
            <button>exit</button>

        </div>

    </div>

</body>
</html>
