<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/newoptions.css' %}">
    <title>ATM</title>
    <h1>ATM</h1>
</head>
<body>

    <div class="container">
        <h2>select a transaction</h2>
        <a  href="{% url 'Atm_app:fastWithdrwa' %}" ><button id="b1">Fast withdraw</button></a>
        <a  href="{% url 'Atm_app:withdrawType' %}" ><button id="b2">Withdraw</button></a>
        <a  href="{% url 'Atm_app:check_balance' %}" ><button id="b3">Balance enquiry</button></a>
        <a  href="{% url 'Atm_app:history' %}" ><button id="b4">Transactions</button></a>
        <a  href="{% url 'Atm_app:pinredirect' %}" ><button id="b5">Change PIN</button></a>
        <a  href="{% url 'Atm_app:profileView' %}" ><button id="b6">Profile</button></a>
        <a href="{% url 'Atm_app:welcome' %}" ><button id="b7">Back</button></a>
        <a href="{% url 'Atm_app:generate_report' %}" ><button id="b8">Reports</button></a>
    </div>
</body>
</html>
