<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>type of withdrawal</p>
    <form action="withdrawAmmount" method="post">
        {% csrf_token %}
        <button type="submit" name='type' value='debit'>saving</button>
        <button type="submit" name='type' value ='credit'>credit</button>
    </form>
    {% for message in messages %}
      <h1>{{ message }}<h2>
    {% endfor %}
</body>
</html>
